/*
*	Typography and global Poster settings here.
*
*	Uses 'Montserrat' imported Google font as default for all posters,
*	with appropriate fallback fonts if required (i.e. no internet connection).
*
*	Any/all variations are addressed in poster-specific stylesheets,
*	e.g.: _poster-01.scss etc.
*
*	CAVEAT: Google linked and/or user system fonts only used in this test.
*	A 'real-world' scenario would likely provide 'actual' used fonts.
*	If actual fonts were provided I would prefer to use either @font-face or base64 embedded,
*	to minimise any unstyled font 'flicker' via externally linked/hosted fonts.
*/

$custom-font: "Montserrat";
$common-font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
body {
	font-family: $custom-font;
	font-weight: 400;
}

h1,
h2,
strong {
	font-weight: 700;
}

// Misc general styling - includes Fdn overrides:
.tabs-panel {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
}

// Generic poster styling:
.poster-wrap {
	overflow: hidden;
}