/*
*	Poster 01: Farbige Graphik in Grenchen - Emil Ruder
*/

// Outer element:
#Poster01 {
    background: #000;

    // Inner element - poster background:
	.poster-01 {
		height: 867px;
		background: #fff;
	}
}

// Circles - container and round elements:
$circle-size: 621px;
.circles {
	height: 678px;
}
.round {
	border-radius: 50%;
	width: $circle-size;
	height: $circle-size;
	padding: 0;

	&.red {
		background: #ff0000;
		position: relative;
		top: 54px;
	}
	&.purple {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f1682+0,573496+100&0.95+0,0.95+100 */
		background: -moz-linear-gradient(top,  rgba(47,22,130,0.90) 0%, rgba(87,52,150,0.90) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(47,22,130,0.90) 0%,rgba(87,52,150,0.90) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(47,22,130,0.90) 0%,rgba(87,52,150,0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f22f1682', endColorstr='#f2573496',GradientType=0 ); /* IE6-9 */
		position: relative;
		top: -621px;
	}
}

// Hook the 'main' content pod and override Foundation grid styling.
#Poster01 {

	.row[role=main] {
		margin: 0;
		padding: 0;
		position: relative;
		width: 96.2%;
		left: 17px;
		top: 3px;

		h1,
		h2 {
			line-height: 1.25;
			margin: 0;
			font-size: rem-calc(43);
			position: relative;
		}
		h1 {
			top: -10px;
		}
		p {
			font-size: rem-calc(9.25);
			margin-bottom: 8px;
			line-height: 1.2;

			&::first-letter {
				font-size: rem-calc(10);
				margin-right: 3px;
			}
		}
		sup {
			position: relative;
			top: 0;
			left: -3px;

			&.en {
				top: -3px;
				font-size: 6px;
			}
		}
		span.vi {
			font-size: 8px;
			position: relative;
			top: -0.175em;
		}
		section:last-child {
			h2,
			p {
				position: relative;
			}
			h2 {
				left: -69px;
			}
			p {
				top: 20px;

				&::first-letter {
					font-size: rem-calc(9.25);
					margin-right: 0;
				}
			}
		}
	}

	// 'Smallprint' in <footer>
	footer {
		position: relative;
	}
	small.smallprint {
		font-size: 5px;
		transform: rotate(-90deg);
		position: absolute;
		right: -14%;
		bottom: 61px;
	}
}
