/*
*	Stopwatch specific styling here:
*/

// Cache the font family:
$digifont: 'Quantico', "Courier New", Courier, monospace, sans-serif;

#timer-wrap {
	background: #222;
	color: #fff;

	// Lap table:
	th {
		text-align: center;
	}
	td {
		color: $black;
	}
}

// Stopwatch readout:
#time {
	font-family: $digifont;
	font-size: rem-calc(38.5);
	width: 50%;
	overflow: visible;
	display: inline-block;

	@media screen and (max-width: 40em) {
		font-size: rem-calc(28);
	}
}